.session-day {
    margin-bottom: 22px;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.02em;
    text-align: left;
}

.sessions {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.session {
    width: 82px;
    height: 43px;
    background-color: #E8833A;
    text-align: center;
    color:#fff;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: center;
    align-items: center;

}